{% load static %}

<!DOCTYPE html>
<html>
<head>
     <!-- Bootstrap -->
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!--Leaflet-->
        {% load leaflet_tags %}
        {% leaflet_js %}
        {% leaflet_css %}
 
        <!--CSS-->
     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet-groupedLayers/leaflet.groupedlayercontrol.min.css' %}">

     <script  src = "{% static 'leaflet/leaflet.ajax.js' %}"></script>
     <script  src = "{% static 'leaflet/leaflet-groupedLayers/leaflet.groupedlayercontrol.min.js' %}"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eureka Water Meters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     

</head>
<body>
    <h3>A Visualization of our Client Meters</h3>
    <script type="text/javascript" >
        function maps_layers(map, options){

            var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
            var grayscale = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png');
            
            var roads = new L.GeoJSON.AJAX("{% url 'eureka_maps:roads'%}",{
                style: function road_colors(feature){
                    switch(feature.properties.road_type.toLowerCase()){
                        case 'tarmac':
                            return {
                                color: 'black'
                            };
                        break;
                        case 'murram':
                            return {
                                color: '#803300ff'
                            };
                        break;
                        default:
                            return {
                                color: '#803300ff'
                            };
                    }
                },
                onEachFeature:(feature, layer)=>{
                layer.bindPopup('<b>Road Name: </b>' + feature.properties.road_name.toString()
                                + '</br>' + '<b> Surface Type </b>' +
                                feature.properties.road_type.toString())
                         }
                 });
            
            var c_meters = new L.GeoJSON.AJAX("{% url 'eureka_maps:c_meters' %}",{
                pointToLayer: (feature, latlng)=>{
                    var customicon = L.icon({
                        iconSize:[50,70],
                        iconAnchor:[12,28],
                        popupAnchor:[0,25],
                        iconUrl:"static/markers/all.svg"
                        });
                    return L.marker(latlng,{icon:customicon});
                    },
                onEachFeature:(feature, layer)=> {
                    layer.bindPopup('<b>Client Name: </b>' + feature.properties.full_name.toString() 
                                + '<br/>' + '<b> Current Reading: </b>' + feature.properties.value.toString()) 
                     }
                 });

            var disconn = new L.GeoJSON.AJAX("{% url 'eureka_maps:disconnected' %}",{
                pointToLayer:(feature, latlng)=>{
                    var customicon = L.icon({
                        iconSize:[50,70],
                        iconAnchor:[12,28],
                        popupAnchor:[0,25],
                        iconUrl:"static/markers/disconn.svg"
                        });
                    return L.marker(latlng,{icon:customicon});
                    },
            onEachFeature: (feature, layer)=> {
                layer.bindPopup('<b>Disconnected Client</b> </br> <b>Client Name: </b>' + feature.properties.full_name.toString() 
                            + '<br/>' + '<b> Current Reading: </b>' + feature.properties.value.toString()) 
                    }
                });
                var icon = L.icon({
                                    iconSize:[50,70],
                                    iconAnchor:[12,28],
                                    popupAnchor:[0,25],
                                    });
                
           var zones = new L.GeoJSON.AJAX("{% url 'eureka_maps:c_meters' %}",{
                pointToLayer: function(feature, latlng) {
                    switch(feature.properties.zone.toString()){
                        case 'kajiado north':
                            icon.options.iconUrl = "static/markers/zone1.svg"
                            return L.markerClusterGroup(latlng, {icon})
                            break;
                        case 'dam road':
                            icon.options.iconUrl = "static/markers/zone2.svg"
                            return L.marker(latlng, {icon})
                            break;
                        case 'ndirangu road':
                            icon.options.iconUrl = "static/markers/zone3.svg"
                            return L.marker(latlng, {icon})
                            break;
                        case 'kahuho':
                            icon.options.iconUrl = "static/markers/zone4.svg"
                            return L.marker(latlng, {icon})
                            break;
                        case 'triangle':
                            icon.options.iconUrl = "static/markers/zone5.svg"
                            return L.marker(latlng, {icon})
                            break;
                        case 'gati iguru':
                            icon.options.iconUrl = "static/markers/zone6.svg"
                            return L.marker(latlng, {icon})
                            break;
                        default:
                            icon.options.iconUrl = "static/markers/zone1.svg"
                            return L.marker(latlng, {icon})
                            break;
                                }
                    },
                onEachFeature:(feature, layer)=> {
                layer.bindPopup('<b>Client Name: </b>' + feature.properties.full_name.toString() 
                            + '<br/>' + '<b> Current Reading: </b>' + feature.properties.value.toString()) 
                    }
            });

            roads.addTo(map);
            c_meters.addTo(map);
            disconn.addTo(map);
            zones.addTo(map);

            var baseLayers = {
                "OSM":osm,
                "Grayscale": grayscale,
                    }
            var groupedOverlays = {
                "Layers": {
                    "Kiserian roads": roads,
                    "All Clients Meters": c_meters,
                    "Disconnected Meters": disconn,
                    "Clients Per Zones": zones,
                    }
                };

            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
        }
    </script> 

    {% leaflet_map "Eureka_Water_Map" callback="window.maps_layers" %} 

</body>
</html>